# ======================
# VCS
# ======================
.git
.gitignore

# ======================
# Build Output
# ======================
bin/
build/
dist/
tmp/
*.exe
*.out

# ======================
# Logs
# ======================
*.log

# ======================
# Environment files
# ======================
.env
.env.*
!.env.example

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Docker related
# ======================
Dockerfile
docker-compose.yml